.calendar-day {
    background-color: white; 
    /* #f1f1f1; */
   /* width: 13vw; */
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
    text-align: center;
    height: 7vw; 
    font-size: 1vw;
    transition-delay: 0.02s;
    transition-duration: 0.2s;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #ccc;
}


.calendar-day-container-disabled
{
    /* remove comment this out to have old days unclickable */
    /* pointer-events: none; */
    background-color: transparent;
}

.calendar-day-disabled {
    padding-top: 1vw;
    text-align: center;
    height: 7vw; 
    font-size: 1vw;
    transition-delay: 0.02s;
    transition-duration: 0.2s;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #ccc;    
    background-color: lightgrey;
}

.calendar-day-full {
    background-color: rgb(248, 32, 32);
}

.calendar-day:hover {
    /* filter: contrast(150%); 
    /* transform: translateY(-6px);   */
    transform: scale(110%);
}    

.calendar-day-disabled:hover {
    /* filter: contrast(75%); */ 
    /* transform: translateY(-6px);   */

    transform: scale(95%);
}    


a.calendar-link:link { color: black; text-decoration: none;}
a.calendar-link:visited { color: black; }
a.calendar-link:hover { color: black; }
a.calendar-link:active { color: black; }


.calendar-day-button {
    background-color: green;
    color: white;
    border: none;
    padding: 0.5vw 1.5vw;
    text-align: center;
    text-decoration: none;

    font-size: 1.0vw;
    margin: 2vh; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .calendar-day-button:hover {
    background-color: #66cc66;
  }

  .calendar-day-button-show {
    background-color: gray; 
    color: white;
    border: none;
    padding: 0.5vw 1.5vw;
    text-align: center;
    text-decoration: none;

    font-size: 1.0vw;
    margin: 2vh; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .calendar-day-button-show:hover {
    background-color: rgb(148, 148, 148);
  }

  .calendar-day-button-full {
    background-color: red; 
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;

    font-size: 1.0vw;
    margin: 2vh; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .calendar-day-button-full:hover {
    background-color: #ff6666;
  }