/* * {
    box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
} 


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 3vw;
}

h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.calendar {
  margin: 2vw auto;
  padding: 1vw;
  width: 90vw;
  max-width: 1200px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1vw;
  font-size: 1vw;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 1vw;
}

/* Calendar Month */
.calendar-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1vw;
  font-size: 1.6vw;
  text-align: center;
}


.calendar-month div:hover {
  background-color: #e3f2fd;
  transform: scale(1.05);
  cursor: pointer;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .calendar-weekdays {
    font-size: 2.5vw;
  }
  
  .calendar-month {
    font-size: 2.2vw;
  }
}

@media (max-width: 480px) {
  .calendar {
    width: 95vw;
  }

  .calendar-weekdays {
    font-size: 3vw;
  }
  
  .calendar-month {
    font-size: 2.8vw;
  }

  .calendar-month div {
    padding: 1vw;
  }
}

