/* Dayview.css */

/* body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    min-height: 100vh; /* Ensure the body covers the full viewport height */
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 1vw;
}

h3 {
    color: #333;
}

.dayView {
    margin: 2vw auto;
    padding: 2vw;
    width: auto;
    max-width: 1200px;    
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dayView-disabled {
    background-color:#ededed;
}

/* Day View Styles */
.day {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.room {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 200px; /* Set a fixed width for each room */
    text-align: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.room-disabled 
{
    background-color: #d3d3d3;
}

.time-slot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Button Styles */
button {       
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

    margin-left: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {  
}


/* Login Styles */
.login {
    margin-top: 20px;
    text-align: center;
}

.apartment-number {
    margin-top: 20px;
    text-align: center;
}

.trash  {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(240, 231, 231);
    color: rgb(19, 19, 19);
    border: none;
    padding: 10px;
    z-index: 1000;
  }

.booked {
    background-color: red;
    color: white;
}

.booked:hover {
    background-color: #ff6666;
}

.available {
    background-color: green;
    color: white;
}

.available:hover {
    background-color: #66cc66;
}

.disabled {
    background-color: gray; 
    color: white;
}

.back {
    background-color: rgb(62, 136, 182);
    color: white;
}

.back:hover {
    background-color: rgb(130, 198, 240);
    color: white;
}